.cl-accent {
    color: #575FCF;
}

.cl-accent-dark {
    color: #3C40C6;
}

.cl-darker {
    color: #485460;
}

.bg-accent {
    background: #575FCF;
}

.bg-accent-dark {
    background: #3C40C6;
}

.bg-darker {
    background: #485460;
}

.bg-lighty {
    background: #E3E3E3;
}

.bg-lighter {
    background: #EEEEEE;
}
