.form-control {
    border: 0;

    &:focus {
        box-shadow: 0 0 0 0.1rem $accent inset;
        border: 0;
        outline: 0;
    }
}

.form-submit {
    margin: 1.5rem 0 2.5rem 0;

    .btn {
        width: 100%;
    }
}

.form-row {
    margin-bottom: 1rem;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: $accent !important;
    background-color: $accent !important;
}
