* {
    border-radius: 0 !important;
}

::selection {
    background: $accent;
}
::-moz-selection {
    background: $accent;
}

.mb-10 {
    margin-bottom: 6rem;
}

@media (min-width: 767.98px) {
    .mb-md-10 {
        margin-bottom: 6rem !important;
    }
}
