.categories-item {
    text-align: center;
    position: relative;
    padding: 1.5rem;
    margin: 1.5rem 0 1.5rem 0;
}

.categories-count {
    position: absolute;
    top: 1em;
    left: 1em;
}

.categories-icon {
    font-size: 3rem;
}
