.btn-mtx {

}

.badge {
    position: absolute;
    top: 1em;
    left: 1em;
    font-weight: normal;
    text-transform: lowercase;
    display: inline-table;
}

.btn-mtx, .badge {
    text-transform: lowercase;
    transition: .5s ease all;

    &.bg-accent:hover {
        background: #fff;
        color: $accent !important;
        transition: .5s ease all;
    }

    &.bg-accent-dark:hover {
        background: #fff;
        color: $accent-dark !important;
        transition: .5s ease all;
    }
}

.flashmessage {
    i {
        font-size: 1.4rem;
        vertical-align: top;
    }

    span {
        word-break: break-all;
    }
}

@media (max-width: 575px) {
    .badge {
        top: 0;
        left: 0;
        width: 100%;
    }
}
