$white: #FFFFFF;
$accent: #575FCF;
$accent-dark: #3C40C6;
$darker: #485460;
$light: #E3E3E3;
$lighter: #EEEEEE;

.cl-white {
    color: $white;
}

.cl-accent {
    color: $accent;
}

.cl-accent-dark {
    color: $accent-dark;
}

.cl-darker {
    color: $darker;
}

.cl-lighty {
    color: $lighter;
}

.bg-accent {
    background: $accent;
}

.bg-accent-dark {
    background: $accent-dark;
}

.bg-darker {
    background: $darker;
}

.bg-lighty {
    background: $light;
}

.bg-lighter {
    background: $lighter;
}
