* {
    border-radius: 0 !important;

    &:focus {
        outline-color: transparent !important;
        outline-style: none !important;
    }
}

::selection {
    background: $accent;
    color: $white;
}
::-moz-selection {
    background: $accent;
    color: $white;
}

.mb-10 {
    margin-bottom: 6rem;
}

@media (min-width: 767.98px) {
    .mb-md-10 {
        margin-bottom: 6rem !important;
    }
}
