main section {
    h1:first-of-type, h2:first-of-type, p:first-of-type {
        position: relative;
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        text-align: center;
    }

    h1:first-of-type, h2:first-of-type {
        margin-top: 3rem;
    }

    p:first-of-type {
        margin-bottom: 3rem;
    }
}

.btn-mtx {
    &.bg-accent, &.bg-accent-dark, &.bg-darker {
        color: $white;
    }
}

.badge {
    position: absolute;
    top: 1em;
    left: 1em;
    font-weight: normal;
    text-transform: lowercase;
    display: inline-table;
    z-index: 1;
}

.btn-mtx, .badge {
    text-transform: lowercase;
    transition: .5s ease all;

    &.bg-accent:hover {
        background: $darker;
        transition: .5s ease all;
    }

    &.bg-accent-dark:hover {
        background: $accent;
        transition: .5s ease all;
    }

    &.bg-darker:hover {
        background: $accent;
        color: $white;
        transition: .5s ease all;
    }
}

.flashmessage {
    i {
        font-size: 1.4rem;
        vertical-align: top;
    }

    span {
        word-break: break-all;
    }
}

@media (max-width: 575px) {
    .badge {
        top: 0;
        left: 0;
        width: 100%;
    }
}

.small-container {
    padding: 3rem;
    margin: 0 auto;

    @media (min-width: 576px) {
        & {
            margin: 0 auto 3rem auto;
        }
    }
}

.paginate {
    ul {
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        margin: 1em 0 2em 0;
        padding-left: 0;
        list-style: none;

        li {
            a, span {
                position: relative;
                display: block;
                padding: 0.5rem 0.75rem;
                margin-left: -1px;
                line-height: 1.25;
                background-color: #fff;
                border: 1px solid #dee2e6;

                &:hover:not(.searchPaginationSelected) {
                    z-index: 2;
                    color: #0056b3;
                    text-decoration: none;
                    background-color: #e9ecef;
                    border-color: #dee2e6;
                }
            }

            .searchPaginationSelected {
                z-index: 3;
                color: #fff;
                background-color: $accent;
                border-color: transparent;
            }
        }
    }
}

.modal {
    .modal-content {
        border: 0;

        .modal-header {
            display: flex;
            align-items: center;
            color: $white;
            border: 0;

            .close {
                color: #fff;
                text-shadow: none;
                opacity: 1;

                &:hover {
                    color: $accent;
                }
            }
        }
    }
}
